@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.radix-themes {
  --default-font-family: var(--font-inter) !important;
}

.menu-hover-dark:hover{
  background: #212123;
  cursor: pointer;
}

.menu-hover-light:hover{
  background: rgba(0, 32, 0, 0.06);
  cursor: pointer;
}

.timezone-btn{
  width: -webkit-fill-available !important;
  justify-content: space-between !important;
  display: flex !important;
  border-style: solid;
  border-width: 1px;
}

.select-item,
.select-item-light:hover{
  color: white !important;
}

.select-item-light{
  color: black !important;
}

.select-item-selected{
  background: var(--accent-a11) !important;
  color: white !important;
}

.event-toaster{
  position: fixed;
  top: 5rem;
  right: 3rem;
  width: 30rem;
  background: rgba(24, 25, 23, 1);
  padding: 0.75rem;
  border-radius: 0.25rem;
}

.event-toaster .link-btn{
  color: rgba(137, 255, 159, 0.8);
  cursor: pointer;
}

.event-toaster.light .link-btn{
  color: rgba(0, 101, 20, 0.84);
}

.event-toaster.hidden{
  display: none !important;
}

.event-toaster.light{
  background: white;
  border: 1px solid rgba(0, 20, 0, 0.16);
}

.timezone-btn.border-validatonBorder{
  border: 1px solid #D2000571 !important;
}
@media screen and (max-width: 600px){
  .sidebar{
    display: none !important;
  }

  .mobile-block{
    flex-direction: column !important;
  }
}